* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper {

    background-color: #fff;
    width: 310px;
    border: 1px solid white;
    border-radius: 5%;
    text-align: center;
    padding-bottom: 20px;
}

.wrapper .img-box {
    padding: 20px 20px 20px 20px;
}

.wrapper .img-box .qr-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}

p {
    font-family: "Outfit";
}

.bold-text {
    font-weight: 700;
    color:hsl(218, 44%, 22%);
    font-size: 22px;
    padding: 15px 15px 15px 15px;
}

.light-text {
    font-weight: 400;
    color:hsl(220, 15%, 55%);
    font-size: 15px;
    padding-bottom: 15px;
}


